body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(89, 43, 116);
    padding: 1rem;
    height: 100px;
}

form{
    display: flex;
    
}

.botao{
    border-radius: 0px 8px 8px 0;
    border-color:white;
    border-width: 0.8px;
    margin-top: 1.8px;
    padding-top: 5px;
    padding-bottom: 1px;
    
}
.botao:hover{
    background-color: rgb(248, 169, 23);
    transition: 0.5s;
    border-color: white;
    border-radius: 0px 8px 8px 0;
}

.lupa{
    height: 30px;
    width: 35px;
       
}

.input-padrao{
    
    font-size: 1.1em;
    text-align: center;
    width: 300px;
    border-radius: 8px 0px 0px 8px;
    border-color: white;
    border-width: 0.8px;
    
    
}



h1{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 2.8em;
    color: white;
}

h2{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 2.1em;
    text-align: center;
    margin-top: 100px;
    color: rgb(62, 31, 80);
}

.menu-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    border-radius: 7px;
    padding: 4px;
}

main ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 120px;
    color:black;
    background-color: white;
    flex-wrap: wrap;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 260px;
    height: 240px;
    padding: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.192);
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1.5px rgba(0, 0, 0, 0.404);
    background-color: rgba(240, 239, 239, 0.651);
}

.img-games{
    width: 100%;
    padding-top: 13px; 


}
.img-games-ps1{
    width: 80%;
    padding-top: 13px;
    padding-left: 15px;
}

.img-games-snes{
    width: 80%;
    height: 90%;
    padding-top: 13px;
}

.container:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.menu-nav a:hover {
    background-color: white;
    color: blueviolet;
    transition: 0.3s;
}
.descricao-produto{
    font-size: 0.9em;
    text-align: left;
    font-weight: bold;
    text-align: center;
}

.preco-produto{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 190px;
    color: white;
    background-color: rgb(89, 43, 116);
    padding-bottom: 8px ;
}
footer p{
   font-size: 0.9em;  
}